.counterDisplay {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 590px;
  height: 250px;
  border-radius: 20px;
  background-color: #6ee0f8;
  font-size: 120px;
  font-weight: 700;
  color: #2e2d36;
  font-family: Roboto, Arial, sans-serif;
}

.counterStopNumber {
  color: #de0045;
}

.incorrectStartValue {
  font-size: 44px;
  color: #de0045;
}

.setBtnStyle {
  font-size: 36px;
}
